#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    margin: 50px 0px 0px 0px;
}
#list>h2 {
    flex-basis: 100%;
    text-align: center;
}
#list>div {
        padding: 20px;
        text-align: center;
    }

.send>img,.track>img, .reclamation>img  {
    width: 100px;
    height: auto;
}    
@media (max-width: 600px) {

    #list {
        flex-direction: column;
    }
    

    }
