#form {
    display: flex;
    flex-direction: column;
    margin:50px 0;
}
.form_subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width:500px;
    
}
.form_title {
    align-self: center;
    padding: 30px;
    margin:0 auto;
}
input.form_input, textarea.form_input {
    border:1px solid #572172;
    background-color: #fff;
    box-shadow: 1px 1px 4px #572172;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
input.form_button {
    border:0px solid #fff;
    background-color: #572172;
    box-shadow: 1px 1px 4px #572172;
    color:#fff;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
}
input.form_button:hover {
    background-color: #E0C2EF;
    box-shadow: 1px 1px -2px #572172;
    color:#000;
    cursor: pointer;
}
.form_label_checkbox {
    font-size: 12px;
    margin-left: 10px;
}
.form_label_checkbox:hover {
    cursor: pointer;
}
input.input_checkbox {
    border:0px solid #fff;
    background-color: #572172;
    outline: none;
    text-decoration: none;
}
input.input_checkbox:hover {
    cursor: pointer;
}
.form_label {
    font-size:13px;
    margin-bottom:10px;
}