/*HEADER*/

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--medium);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23e0c2ef' fill-opacity='0.1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    padding-bottom: 30px;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header-content-text {
    display: flex;
    flex-direction: column;
}

.header-title {
    font-family: 'Coiny', cursive;
    font-size: 100px;
    margin-bottom: 0px;
    color: var(--light);
    text-align: left;
}

.header-content-paragraph {
    font-size: 30px;
    text-align: center;
    font-family: 'Coiny', cursive;
}

.subscribe-link {
    text-align: center;
    text-decoration: none;
    color: var(--light);
    font-family: 'Coiny';
    font-size: 25px;
}

/* FUNNY SUB BUTTON*/

.subscribe-link:before {
    content: '';
    border-bottom: solid 3px var(--light);
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.subscribe-link:hover:before {
    border-bottom: solid thin #070707;
    width: 40%;
    -webkit-animation: heartbeat-x 1.7s infinite ease-in;
    animation: heartbeat-x 1.7s infinite ease-in;
}

.subscribe-link:hover {
    -webkit-animation: heartbeat 1.7s infinite ease-in;
    animation: heartbeat 1.7s infinite ease-in;
    color: var(--light);
}

@-webkit-keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.1);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes heartbeat-x {
    0% {
        -webkit-transform: scaleX(0);
    }
    10% {
        -webkit-transform: scaleX(1);
    }
    20% {
        -webkit-transform: scaleX(0);
    }
    30% {
        -webkit-transform: scaleX(1);
    }
    40% {
        -webkit-transform: scaleX(0);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
}

@keyframes heartbeat-x {
    0% {
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(1);
    }
    20% {
        transform: scaleX(0);
    }
    30% {
        transform: scaleX(1);
    }
    40% {
        transform: scaleX(0);
    }
}

/*MEDIA QUERIES*/

@media (max-width:900px) {
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .header-icon {
        margin: 0 auto;
    }
    .header-title {
        font-size: 80px;
    }
    .header-content-paragraph {
        font-size: 20px;
    }
}

@media (max-width:620px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .header-icon {
        margin: 0 auto;
    }
    .header-title {
        font-size: 60px;
    }
    .header-content-paragraph {
        font-size: 20px;
    }
    @media (max-width:500px) {
        .header-content {
            display: flex;
            flex-direction: column-reverse;
        }
        .header-icon {
            margin: 0 auto;
        }
        .header-title {
            font-size: 30px;
            text-align: center;
            margin: 0 auto;
        }
        .header-content-paragraph {
            font-size: 10px;
        }
        .subscribe-link {
            font-size: 10px;
        }
    }