.team_photo {
    width: 150px;
    height: 150px;
    border: 1px solid var(--medium);
    border-radius: 150px;
    display: block;
}

.created {
    text-align: center;
}

.team_link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.team_link:hover {
    color: var(--medium);
}

.team {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 50px auto 0px auto;
}

.team_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.team_name {
    text-align: center;
}

@media screen and (max-width:700px) {
    .team {
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
    .team_person {
        width: 50%;
    }
}