.team>div>a>img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
}

.team>div>a{
    text-align: center;
}
.team{
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#A46EBF;
    
}
.teamVW .teamGW .teamSW .teamDW {
    width: 25%;

}
@media screen and (max-width:620px) {
.team{
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
  }
  .teamVW .teamGW .teamSW .teamDW {
      width: 25%;

  }
}
