* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --verydark: #2D1D35;
    --dark: #572172;
    --medium: #A46EBF;
    --light: #E0C2EF;
    --verylight: #F7E8FF;
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
    padding: 8px;
}

.copyright {
    font-size: 12px;
}



.navbar-icon {
    width: 40px;
    position: absolute;
    left: 10px;
    
}

.container {
    width: 100%;
}

.overlay {
    background-color: #f7e8ff00;
    min-height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stick {
    background-color: #e1dde3;
    box-shadow: 0px 1px 3px var(--verydark);
    min-height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
}

.nav>li {
    margin-right: 30px;
    font-weight: bold;
    white-space: nowrap;
   
}

.nav>li>a {
    text-decoration: none;
    color: var(--verydark);
}

.nav>li>a:hover {
    color: var(--light);
}

@media screen and (max-width:550px) {


    .navbar-icon {
        width: 200px;
        position: static;
              
        
    }
    .stick {
        box-shadow: none;
        background-color: var(--medium);
        display: initial;
    }
    nav>ul {
        flex-direction: column;
    }
    nav>ul>li {
        text-align: center;
        width: 100%;
    }

     ul>li>a {
        font-size: 30px;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 40px;
        left: 0;
        
    }
    /*hamburger menu for mobile */
    .button_container {
        position: fixed;
        top: 5%;
        right: 2%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
    }
    /* &:hover {
  opacity: .7;
} */
    .active.top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: var(--verylight);
    }
    .active.middle {
        opacity: 0;
        background: var(--verylight);
    }
    .active.bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: var(--verylight);
    }
    span {
        background: var(--verydark);
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
    }
    span:nth-of-type(2) {
        top: 11px;
    }
    span:nth-of-type(3) {
        top: 22px;
    }
    .overlay {
        position: fixed;
        background: var(--medium);
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        justify-content: flex-start;
    }
    .open {
        opacity: 0.98;
        visibility: visible;
        height: 100%;
    }
    .open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
    }
    .open li:nth-of-type(2) {
        animation-delay: .4s;
    }
    .open li:nth-of-type(3) {
        animation-delay: .45s;
    }
    .open li:nth-of-type(4) {
        animation-delay: .50s;
    }
    nav {
        position: relative;
        height: 100vh;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 400;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 75%;
    }
    ul>li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
    }
    ul>li>a {
        display: block;
        position: relative;
        color: var(--verylight);
        text-decoration: none;
        overflow: hidden;
    }
    ul>li>a:hover:after, ul>li>a:focus:after, ul>li>a:active:after {
        width: 70%;
    }
    ul>li>a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: var(--light);
        transition: .35s;
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
}

@media screen and (max-width:469px) {
    ul>li>a {
        font-size: 30px;
    }
}