.game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .row {
    display: flex;
  }
  .cell {
    width: 5vw;
    height: 5vw;
    border: 1px solid white;
    margin: 0.4vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    background: white;
  }