*{
  box-sizing: border-box;
  
}

.game {
  display: flex;
  justify-content: center;
}

.game.blured {
  filter: blur(5px);
}

.new_package {
  content: url('../img/package\ \(1\).png');
  height: 50%;
  transform: rotate(0deg);
}

.row {
  display: flex;
}

.cell {
  width: 5vw;
  height: 5vw;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.house {
  background-size: cover;
  background-image: url(../img/house.png);
}

.truck {
  /* background-image: url(../img/pickup-truck.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#start {
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: orangered;
  border: none;
  font-size: 30px;
  padding: 15px 25px;
  margin-bottom: 30px;
  width:100%;

}

#start:hover {
  background-color: orangered;
}

#start:active {
  background-color:orangered;

  transform: translateY(4px);
}
.timer{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  background-color:rgba(114, 76, 63, 0.973);
  color: #fff;
  padding: 15px 25px;
}
#score {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  
  padding: 15px 25px;
}

#board {
  background-image: linear-gradient(to bottom right, rgb(0, 167, 0), rgb(30, 105, 0));
  position: relative;
}

.truckPhantom {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  background-image: url(../img/pickup-truck.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
  transition: all 0.4s;
  display: flex;
  align-items: center;
}

.tree {
  background-size: cover;
  background-image: url(../img/tree.png);
}

.tree-shake {
  animation: shake 0.62s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: orangered;
  font-size: 12px;
  border: 1px solid green;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-text {
  font-size: 50px;
}

#controlPanel {
  text-align: center;
  font-size: 30px;
  background-color: rgb(38, 117, 28);
  color: #fff;
  padding: 15px 25px;
}

#scoreBoard {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
 
  padding: 15px 25px;
}
.delivery-point {
  
  
  border-radius: 10%;
 
  box-shadow: 0 0 0 rgb(233, 250, 0);
  animation: pulse 1s infinite;
}
.delivery-point:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(233, 250, 0);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgb(233, 250, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgb(233, 250, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(233, 250, 0);
    box-shadow: 0 0 0 0 rgb(233, 250, 0);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgb(233, 250, 0);
      box-shadow: 0 0 0 10px rgb(233, 250, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.metric {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

#popup {
  padding: .5em;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 34%;
  right: 25%;
  width: 70vh;
  background: #FFF;
  padding: 1em;
  text-align: center;
  display: none;border-radius: 5px;
  font: 400 13.3333px Arial;

  
  
}

#show-popup {
  display: block;
  margin: 2em auto;
  width: 14em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  background: #f35907;
  color: #fff;
}
.startPopupButtons{
  
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
  
  border: 1px solid green;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: white;
  font: 400 13.3333px Arial;
  cursor: pointer;
 
}



#startPopupButton{

  float: right;
  background-color: green;
  
}


#exitPopupButton{
  float: left;
  background-color: orangered;
  
}
#startPopupButton:hover{
  background-color: #7cd1f9;

}

#exitPopupButton:hover{
  background-color: #7cd1f9;


}

